*~
\#*
.#*
*.egg-info/
*.pyc
__pycache__
build/
dist/
*.ipynb_checkpoints
*.so
.vscode/
runs/
LUT/
logs/
outputs/
Z7_dataless.xml
examples/Volcanotectonic_Iceland/inputs/mSEED/
examples/Askja_Iceland_VT-DLP/inputs/mSEED/
DATALESS/
.DS_Store
_build
